.navigation{
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-left: 9.2rem;
    background-color: #f3f4f6;
}

.jmpto{
    font-size: 20px;
}